In [2]:
import pandas as pd #for manipulate data using dataframe
import numpy as np #for some arithmetic

In [6]:
df = pd.read_csv('electronics.csv') #read dataset format .csv
df.sample(10)#sample 10 data random from variable df as dataframe

,item_id,user_id,rating,timestamp,model_attr,category,brand,year,user_attr,split
451299,5940,415668,4.0,2015-03-03,Female&Male,Portable Audio & Video,NaN,2015,NaN,0
1183902,4736,1061056,5.0,2017-10-23,Female,Home Audio,NaN,2014,NaN,0
986975,7435,887408,5.0,2016-11-16,Female,Computers & Accessories,NaN,2015,NaN,0
649900,5070,591771,1.0,2015-10-22,Female,Headphones,NaN,2014,NaN,0
923983,2031,832200,3.0,2016-08-18,Female,Computers & Accessories,Logitech,2012,NaN,0
220313,2205,207315,4.0,2014-01-07,Female&Male,Computers & Accessories,NaN,2012,NaN,0
292876,4037,273824,5.0,2014-07-14,Female,Accessories & Supplies,NaN,2014,NaN,0
1121730,4152,1006290,1.0,2017-06-09,Male,Car Electronics & GPS,Garmin,2014,NaN,0
604402,2624,551570,5.0,2015-09-02,Female,Headphones,NaN,2013,NaN,0
83808,1577,79929,4.0,2012-03-01,Male,Television & Video,Panasonic,2011,NaN,0

In [14]:
print("Number of rows"+" "+str(df.shape[0]), "Number of columns"+" "+str(df.shape[1]))

Number of rows 1292954 Number of columns 10